
.main-grid{
    display: grid;
    row-gap: 2px;
    column-gap: 2px;
    overflow-x: auto;
}

.main-grid-container{
    padding: 2px;
    background-color: black;
}

.preview-images-container{
    min-height: 200px;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.preview-image{
    max-width: 200px;
    max-height: 200px;
}

.grid-corner-slot{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.columns-description-container{
    display: flex;
    justify-content: center;
}

.row-description-container{
    writing-mode: vertical-lr;
    display: flex;
    justify-content: center;
    width: 25px;
}

.lane-description{
    color: white;
    margin: 0;
    background-color: rgb(35, 35, 35);
    min-width: 25px;
    min-height: 25px;
}

.add-column-button{
    background-color: rgb(35, 35, 35);
}

.add-row-button{
    min-height: 100px;
    background-color: rgb(35, 35, 35);
}

.image{
    max-width: 100px;
    max-height: 100px;
}

.image-container{
    min-height: 100px;
}

.grid-rect{
    min-width: 100px;
    min-height: 100px;
}

.grid-slot{
    background-color: rgb(38, 31, 28);
}

.grid-tier{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tier-name-text{
    font-size: large;
}

.row-options{
    background-color: gray;
}

.column-options{
    background-color: gray;
}