
.main-grid{
    display: grid;
    row-gap: 2px;
    column-gap: 2px;
    overflow-x: auto;
}

.main-grid-container{
    padding: 2px;
    background-color: black;
}

.preview-images-container{
    min-height: 200px;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.preview-image{
    max-width: 200px;
    max-height: 200px;
}

.grid-corner-slot{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.columns-description-container{
    display: flex;
    justify-content: center;
}

.row-description-container{
    writing-mode: vertical-lr;
    display: flex;
    justify-content: center;
    width: 25px;
}

.lane-description{
    color: white;
    margin: 0;
    background-color: rgb(35, 35, 35);
    min-width: 25px;
    min-height: 25px;
}

.add-column-button{
    background-color: rgb(35, 35, 35);
}

.add-row-button{
    min-height: 100px;
    background-color: rgb(35, 35, 35);
}

.image{
    max-width: 100px;
    max-height: 100px;
}

.image-container{
    min-height: 100px;
}

.grid-rect{
    min-width: 100px;
    min-height: 100px;
}

.grid-slot{
    background-color: rgb(38, 31, 28);
}

.grid-tier{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tier-name-text{
    font-size: large;
}

.lane-options{
    background-color: gray;
    display: grid;
}

.remove-lane-button{
    border-radius: 5px;
    border: solid black 1px;
}

.remove-row-button{
    grid-area: 2/1/4/2;
}

.shift-row-down-button{
    grid-area: 3/2/5/3;
}

.shift-row-up-button{
    grid-area: 1/2/3/3;
}

.remove-column-button{
    grid-area: 1/2/2/4;
}

.shift-column-right-button{
    grid-area: 2/3/3/5;
}

.shift-column-left-button{
    grid-area: 2/1/3/3;
}

.shift-arrow{
    width: 25px;
    object-fit: contain;
}

.shift-row-up-arrow{
    transform: rotate(270deg);
}

.shift-row-down-arrow{
    transform: rotate(90deg);
}

.shift-column-left-arrow{
    transform: rotate(180deg);
}